body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: auto;
    background-color: rgb(255, 255, 255);
  }
  
h1{
    margin: 0px;
}

h2{
    font-family: fantasy;
    margin: 0px;
}

.header{
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-image:linear-gradient(45deg, rgb(115, 115, 115) 10%, rgb(184, 183, 184) 60%);
    border-bottom: 1px black solid;
    position: absolute;
    top: 0;
}

.gridContainer{
    align-content: center;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 50px;
    row-gap: 10px;
}

.gridContainer2{
    align-content: center;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px;
    column-gap: 50px;
    row-gap: 10px;
    padding-bottom: 10%;
}

#weekly{
    text-align: left;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#monthly{
    text-align: left;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#yearly{
    text-align: left;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#bestDay{
    text-align: center;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#worstDay{
    text-align: center;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.header #home{
    color: black;
    font-family:fantasy;
}

.header #calendar{
    color: black;
    font-family:fantasy;
}

.header #graphs{
    color: black;
    font-family:fantasy;
    
}

.header #stats{
    color: black;
    font-family:fantasy;
}

.footerContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6%;
    border-top: 1px black solid;
    font-family:fantasy;
    background-image:linear-gradient(45deg, rgb(115, 115, 115) 10%, rgb(184, 183, 184) 60%);
}

.footerContainer h6{
    text-align: left;
    padding-left: 3%;
}

.gridContainer2 #bestDay{
    height: 200%;
    width: 100%;
}

.gridContainer2 #worstDay{
    height: 200%;
    width: 100%;
}