body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: auto;
    background-color: #fff5e6;
  }
  
h1{
    margin: 0px;
}

h2{
    font-family: fantasy;
    margin: 0px;
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    background-color: #343434;
    border-top: 6px solid rgb(40, 40, 40);
    /* border-bottom: 4px solid rgb(43, 43, 43); */
    padding-left: 50px;

}

.headerText {
    color: rgb(255, 255, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    
}

.gridContainer{
    align-content: center;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 50px;
    row-gap: 10px;
}

.gridContainer2{
    align-content: center;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px;
    column-gap: 50px;
    row-gap: 10px;
    padding-bottom: 10%;
}

#weekly{
    text-align: left;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#monthly{
    text-align: left;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#yearly{
    text-align: left;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

#bestDay{
    text-align: center;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#worstDay{
    text-align: center;
    border: 1px black solid;
    font-family: fantasy;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}



.footerContainer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 6%;
    border-top: 1px black solid;
    font-family:fantasy;
    background-image:linear-gradient(45deg, rgb(115, 115, 115) 10%, rgb(184, 183, 184) 60%);
}

.footerContainer h6{
    text-align: left;
    padding-left: 3%;
}

.gridContainer2 #bestDay{
    height: 200%;
    width: 100%;
}

.gridContainer2 #worstDay{
    height: 200%;
    width: 100%;
}